/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
     clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {}


/******************************************
/* LAYOUT
/*******************************************/

#playingArea,
#result {
     display: flex;
     justify-content: center;
     align-items: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

#playingArea {
     padding-top: 50px;
}

#drawTwoCards {
     margin: 0 20px;
}

#result {
     margin-top: 25px;
}